@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
     font-family: "Rubik", sans-serif;
}
 .container{
    max-width: 1040px  ;
    margin: 0 auto;
 }



 header,main{
    background: rgb(30, 30, 30);
 }

/* nav section  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 77px; */
     padding-top: 77px;
    padding-bottom: 45px;
 }
nav h1{
    color: #FD6F00;
    font-size: 32px;
    font-weight: 700;
}
nav ul{
 display: flex;
list-style: none;
justify-content: ;
align-items: center;
gap: 35px;
    
}
nav a{
    color: #fff;
    text-decoration: none;
    font-family: Rubik;
    font-size: 21px;
    font-weight: 400;
}
nav button{
    background: rgb(253, 111, 0);
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 400;
    border: none;
    padding: 18px 25px;
}
/* nav end  */
/* banner start*/


.banner{
    max-width: 1040px  ;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.banner h1,.about h1,.experience h1{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 700;
}
.banner h2{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 300;
}
.banner p,.about p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    font-weight: 400;
    margin-top: 12px;
}
.icon {
    width: 70px;
    height: 70px;
    fill: orange;
    transform: rotate(-3.97deg);
    position: relative;
    top: 25px;
}
.portfolio-hire{
    box-sizing: border-box;
    border-radius: 50px;
    width: 347px;
    height: 76px;
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
    margin-top: 45px;
    padding: 12.5px;
    display: flex;
    justify-content: space-between;
    border: 2px solid  rgba(255, 255, 255, 0.4);
    margin-bottom: 32px;
 
}

.portfolio{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 400;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 60px;

    background:#FD6F00;
}
.fa-arrow-right{
    transform: rotate(-45deg);
}
.hire{
    margin-right: 30px;
    color: rgb(255, 255, 255);
    font-size: 25.69px;
    font-weight: 400;
    background-color: transparent;
    border: none;
}
.social-link i{
  margin-right: 25px;
  font-size: 32.5px;
  color: rgba(255, 255, 255, 0.5);
}
.banner img{
    
    border-radius: 36%;
    /* background-color: black; */
}
.banner-img{
    position: relative;
    z-index: 1;
}
.bg-border{
  width: 375px;
  height: 375px;
  border-radius: 50%;
  border: 5px solid rgb(253, 111, 0);
  position:absolute;
  bottom: -16px;
  right: -11px;
  z-index:-1 ;
}

/* banner end*/

/* about start  */
.about{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    padding-bottom: 60px;
}
.about .star{
    color: #FD853A;
    font-size: 22px;
    margin-bottom: 5px;
}
.about h5{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    text-align: right;
}

/* about end */

/* experience section start */
  .experience{
    background: linear-gradient(-87.34deg, rgba(255, 177, 71, 0.1) 5.887%,rgba(255, 108, 99, 0.1) 50.525%,rgba(184, 106, 223, 0.1) 91.686%);
   
    
  }
  .experience-content{
    display: flex;
    justify-content: space-between;
    height: 630px;
    align-items: center;
  }
 .experience-text h5{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    padding-bottom: 14px;
 }
 .experience-text p{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
 }

.experience-text{
    max-width: 50%;
}
.experience-role{
max-width: 50%;
}
.role{
    border-bottom: 1px solid rgba(200, 199, 199, 0.2);
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.role-time{
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}
.role h2{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;

}
.role h5{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
}
.role h6{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
}

/* experience section end */

